page-modal-seguimiento {
    #areaNota{

        height: 50%;
    }
    #contenedorNota{
        height: 50%;


    }

    #cerrar{

        width: 46%;
    }

    #enviar{

        width: 50%;
    }
    .input{
        border: 1px solid blue;
        width: 95%;
        float: right;
    }
    .contenedor{
        width: 98%;
border:1px double gray


    }
  

}
