page-modal-seguimiento {
    #areaNota{

        height: 50%;
    }
    #contenedorNota{
        height: 50%;


    }

    #cerrar{

        width: 46%;
    }

    #enviar{

        width: 50%;
    }

}
