page-consulta {
    ion-card{

            }

    .reparado{
color: green;




    }
    .pendiente{
        color: red;
        
        
        
        
            }
    .cardreparado
    {
        border: 3px solid green;
        
    }

    .activo
    {
        border: 3px solid red

    }

    .contenido{

    }

}
